/* .CardTemplate1 { */
	
/* } */


.CardTemplate1 .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    justify-content: center;
    /* margin: 50px auto 0 auto; */
  }
  
  .CardTemplate1 .logo {
    width: 100px;
    height: 100px;
    /* Insert your logo styling here */
  }
  
  .CardTemplate1 .info {
    text-align: center;
  }
  
  .CardTemplate1 .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .CardTemplate1 .title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  
  .CardTemplate1 .description {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  
  .CardTemplate1 .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .CardTemplate1 .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .CardTemplate1 .icon {
    margin-right: 0.5rem;
    fill: #000000;
    fill: red;
  }
  
  .CardTemplate1  a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
  }
  