.NavBar {
	text-align: right;
    padding: 14px;
    margin: auto;
    /* background-color: var(--color-light-text); */
}
.NavBar a {
    padding: 0 32px;
    font-weight: 600;
    color: var(--color-four);
    text-decoration: none;
}
